<!-- start custom head snippets -->
<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.0/es5/latest.min.js?config=TeX-MML-AM_CHTML" integrity="sha512-GVE0RREFOe4Ne/cgbGQcrD6qnKgYwdDriXyOxTDsALliG1O2A0NmmW/oj1my7trpp1C1sp1FJ835YXenIDIvjw==" crossorigin="anonymous"></script>

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true
     },
     "HTML-CSS": { availableFonts: ["TeX"] }
   });
</script>
<!-- end custom head snippets -->
