<!-- start custom head snippets -->
<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
